{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puerto Rico Health Indicators Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <!-- Custom CSS Block -->
    {% block css %}{% endblock %}
</head>
<body>

    <header>
        <h1>Puerto Rico Cardio Risk Map</h1>
        <div class="header-logos-container">
            <img src="{% static 'images/aim_ahead_600x474.webp' %}" alt="AIM AHEAD Logo" class="header-logo">
            <img src="{% static 'images/rcmi.webp' %}" alt="RCMI Logo" class="header-logo">
        </div>
    </header>
    {% block content %}{% endblock %}
    
    <!-- Custom JS Block -->
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    {% block js %}{% endblock %}
</body>